.header {
   height: 20vh;
   background: url('../public/images/bg-header-desktop.svg') no-repeat center;
   background-size: cover;
   background-color: hsl(180, 29%, 50%);
   position: relative;
   // display: flex;
   // justify-content: center;
   // align-items: center;
}
